<%= render 'partials/navbar', role: @role %>

<div class="show_book"></div>

<div class="flex">
  <div class="delete_book">
    <%= button_tag "delete book" unless @role !=  "admin" %>
  </div>
  <div class="edit_book">
    <%= button_tag "edit book" unless @role !=  "admin" %>
  </div>
  <p class="addToCart">add to cart</p>
</div>
 
<script>
  const authToken = <%= @token %>
  const book_id = <%= @book_id %>
  const delete_book = document.querySelector(".delete_book")
  const edit_book = document.querySelector(".edit_book")
  const container = document.querySelector(".show_book");
  var temp_data = {}
  var quantity = 1

  fetch(`http://localhost:3000/api/books/${book_id}`, {
      method: 'GET',
      headers: {'Authorization': `Bearer ${authToken}`}
    })
    .then(response => response.json())
    .then(data => {
      const booksHtml =
      `<div>
          <img src="${data.cover_image}" />
          <div class="data_info">
            <p>${data.title}</p>
            <p>${data.author}</p>
            <p>${data.description}</p>
            <p>${data.genre}</p>
            quantity: <input class="quantity" type="number" value=${quantity} name="quantity"/>
            price: <p>${data.price}</p>
          </div>
      </div>`

      container.innerHTML = booksHtml;
      document.querySelector(".quantity").addEventListener("input",()=>{
        quantity = document.querySelector(".quantity").value
      })

      temp_data = {...data}
      })
    .catch(error => {
      console.error('Error:', error)
    });

  delete_book.addEventListener("click",()=>{
    fetch(`http://localhost:3000/api/books/${book_id}`, {
      method: 'DELETE',
      headers: {'Authorization': `Bearer ${authToken}`}
    })
    .then(()=>{
      window.location.href = '<%= root_path %>';
    })
    .catch((error)=>{
      console.log(error)
    })
  })

  edit_book.addEventListener("click", () => {
    const booksHtml =
    `<form id="editForm">
        <input id="cover_image" value="${temp_data.cover_image}" type="text"/>
        <div class="temp_data_info">
          <input id="title" value="${temp_data.title}" type="text"/>
          <input id="author" value="${temp_data.author}" type="text" />
          <input id="description" value="${temp_data.description}" type="text" />
          <input id="genre" value="${temp_data.genre}" type="text"/>
          <input id="quantity" value="${temp_data.quantity}" type="number"/>
          <input id="price" value="${temp_data.price}" type="number"/>
        </div>
        <button type="submit" value="Submit">update book</button>
    </form>`

    container.innerHTML = booksHtml;
    edit_book.style.display = "none"
    const editForm = document.getElementById('editForm');
    editForm.addEventListener('submit', function(event) {
      event.preventDefault(); 
      const formData = {
        cover_image: document.getElementById('cover_image').value,
        title: document.getElementById('title').value,
        author: document.getElementById('author').value,
        description: document.getElementById('description').value,
        genre: document.getElementById('genre').value,
        price: document.getElementById('price').value,
        quantity: document.getElementById('quantity').value
      };
      fetch(`http://localhost:3000/api/books/${book_id}`, {
        method: 'PATCH',
        headers: {
          'Authorization': `Bearer ${authToken}`,
          'Content-Type': 'application/json' // Specify the content type
        },
        body: JSON.stringify(formData) // Convert formData to JSON string
      })
      .then(response => {
        if (response.ok) {
          window.location.href = `/book/${book_id}`;
          } else {
          console.log("Error updating book");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        });
        
        });
        });
        
        
  const addToCart = document.querySelector(".addToCart")
  
  addToCart.addEventListener("click", ()=>{
    console.log
    if('<%= @role %>' != "guest"){
          const formData2 = {
            book_id: `${book_id}`,
            user_id: <%= JWT.decode(session[:user], 'abcd', true, algorithm: 'HS256')[0]["user_id"]%>,
            quantity: `${quantity}`
            };

          fetch('/cart', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData2)
          })
          .then(()=>{
            console.log("added to cart");
            window.location.href = '<%= cart_index_path %>';
          })
          .catch((err)=>{
            console.log(err)
          })
    }
  else{
   window.location.href = '<%= login_path %>';
  }


  })
</script>
