<%= form_for(@user, url: user_create_path) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%= f.hidden_field :user_role %>
    
    <div class="actions">
      <%= f.submit %>
    </div>

    <div>
      <p>if alredy registered</p><%= link_to "login", login_path %>
    </div>
  <% end %>
  