<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
    <%= yield %>
    <%= javascript_include_tag 'book', 'data-turbolinks-track': 'reload',  defer: true %>
  </body>
</html>
